.flexGrupo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexBotao {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}


.flexBotao1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
}

.box {
    background-color: #e0dede;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap:wrap;
 
}

.box label {
    text-align: center;
    margin-top: 10%;
}