.form {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    border-style: groove;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #e0dede;
    margin-bottom: 5%;

}

.option{
   width: 45%;
   margin-right: 5%;
   margin-left: 5%;
}

.form label {
    margin-left: 5%;
    margin-right: 5%;
}

.form input {
    margin-left: 5%;
    margin-right: 5%;
}

.title{
    margin-left: 25%;
    margin-top: 5%;
    border-style: groove;
    margin-right: 25%;
    background-color: #bebebb;
}

.button {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: #bebebb;
  }

  .revelar {
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 1%;
    align-items: end;
  }

  .option {
    margin-top: 1%;
  }

  