/* Estilos globais */

/* Remove a margem e o padding padrão de todos os elementos e define box-sizing como border-box,
   para que padding e border sejam incluídos na largura/altura dos elementos. */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Define a largura máxima do viewport como 100% (evita rolagem horizontal),
     oculta qualquer conteúdo que exceda a largura, e garante que a altura de html e body ocupem 100% da tela. */
  html, body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%; /* Garante que o body ocupe toda a altura da janela do navegador */
  
    /* Utiliza as cores definidas nas variáveis CSS, que mudam conforme o esquema de cor preferido (claro/escuro) */
    color: var(--foreground);
    background: var(--background);
  
    /* Define a família de fontes para Arial, Helvetica ou qualquer fonte sans-serif disponível */
    font-family: Arial, Helvetica, sans-serif;
  
    /* Melhora a suavização de fontes em diferentes sistemas operacionais e navegadores */
    -webkit-font-smoothing: antialiased; /* Para navegadores baseados no WebKit */
    -moz-osx-font-smoothing: grayscale;  /* Para navegadores no macOS */
  }
  
  /* Estiliza os links para herdar a cor do elemento pai e remove a decoração de sublinhado */
  a {
    color: inherit;
    text-decoration: none;
  }
  
  
  /* Layout da página */
  
  /* Configura o body como um contêiner flexbox, com direção de coluna,
     para empilhar os elementos verticalmente (header, body, footer). */
  body {
    display: flex;
    flex-direction: column;
  }
  
  /* Define o container principal da página, que também usa flexbox em coluna,
     e garante que a altura mínima seja de 100% da viewport (altura total da tela). */
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela */
  }
  
  /* Estilos para o header e o footer, com fundo claro, padding de 1rem,
     e texto centralizado horizontalmente. */
  .header, .footer {
    background-color: #f8faf8; /* Cor de fundo clara */
    padding: 1rem;             /* Espaçamento interno */
    text-align: center;        /* Centraliza o texto no centro horizontalmente */
  }
  
  /* A seção body cresce para ocupar todo o espaço disponível entre o header e o footer,
     e possui padding de 1rem para espaçamento interno. */
  .body {
    flex-grow: 1;              /* Faz o body ocupar o espaço disponível */
    padding: 1rem;             /* Espaçamento interno */
  }