.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }
  
  .resultContainer,
  .historyItem {
    flex-direction: row;
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
  }
  
  .historyContainer {
    flex-direction: column;
    display: flex;
    height: 200px;
    align-items: center;
    flex-grow: 5;
    justify-content: flex-start;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
  }
  
  .inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 4px;
    border: 3px solid grey;
    padding-left: 8px;
  }

  .inputButton {
    border: none;
    background:red;
    color: white;
    padding: 12px 24px;
    margin: 8px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
  }

  .cadas {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bolder;
    align-items: normal;
    justify-content: center;

  }

