.divInput {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0.5%;
  }
  
  .divInput input {
    margin-top: 1%;
  }
  
  .divBusca {
    margin-left: 2%;
  }
  
  .divBusca button {
    margin-top: 1%;
    margin-left: 0.5%;
  }
  
  .divDate {
    margin-left: 1.5%;
  }
  
  .divDate input {
    margin-left: 1%;
  }
  
  .divCreate {
    margin-left: 2%;
    margin-top: 1%;
  }
  
  .infoAlunoColabExem {
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 95%;
    height: 25%;
    margin-left: 2.5%;
    background-color: #E6E6E6;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .agruparLista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .userList {
    margin-top: 10%;
    list-style-type: none;
  }
  
  .button {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    border-color: red;
  }
  
  .inputButton {
    border: none;
    background: red;
    color: white;
    padding: 10px 25px;
    margin: 8px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .inputBox {
    height: 25px;
    width: 250px;
    font-size: small;
    border-radius: 4px;
    border: 3px solid grey;
    padding-left: 8px;
  }
  
  .userTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .userTable th, .userTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .userTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .userTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .userTable tr:hover {
    background-color: #f1f1f1;
  }
  
  .notificacao {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease;
  }
  
  .notificacaoErro {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8a1007;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease;
  }

  .form {
    padding: 20px;
    margin-left: 0.5%;
  }
  
  .bot {
    margin-left: 1.2%;
  }
  
  .ajuste {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .button {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    border-color: red;
  }
  
  .devolveSolo {
    border: none;
    background: red;
    color: white;
    padding: 10px 25px;
    font-size: 15px;
    margin-right: 100%;
    border-radius: 8px;
    cursor: pointer;
    width: 35%;
  }
  
  .devolveTodos {
    border: none;
    background: red;
    color: white;
    padding: 10px 25px;
    font-size: 15px;
    margin-left: 1.5%;
    margin-top: 1%;
    border-radius: 8px;
    cursor: pointer;
    width: 10%;
  }
  

  
  .inputBox {
    height: 25px;
    width: 250px;
    font-size: small;
    border-radius: 4px;
    border: 3px solid grey;
    padding-left: 8px;
  }
  
  .box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .container {
    margin-top: 2%;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  
  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .titulos {
    margin-top: 2%;
    background-color: #D0D0D0;
    width: 100%;
  }
  
  .userList {
    margin-top: 10%;
    list-style-type: none;
  }
  
  .userTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .userTable th, .userTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .userTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .userTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .userTable tr:hover {
    background-color: #f1f1f1;
  }
  
  .notificacao {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease;
  }
  
  .notificacaoErro {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8a1007;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease;
  }
  
  .removerButton {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .removerButton:hover {
    background-color: #c82333;
  }
  
  .removerButton:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }